@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Saira+Semi+Condensed:wght@100;200;300;400&family=Yrsa:wght@200;300;400&family=Square+Peg&family=Prata&display=swap');

/* CSS Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Prata", "Yrsa", "Square Peg", "Saira Semi Condensed", "Poppins", sans-serif;
  font-weight: 300;
  background-color: #000;
}