.hero {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    font-family: "Prata", sans-serif; 
    color: #fff; 

    .hero-top {
        height: calc(100vh - 55px); 

        .hero-title {
            position: absolute; 
            left: 3%; 
            top: 35%; 

            h3 {
                font-size: 30px; 
                color: #a67d4a; 

                @media screen and (max-width: 480px) {
                    font-size: 22px; 
                }
            }

            h1 {
                font-size: 100px; 
                color: inherit;
                margin-bottom: 20px; 
                font-weight: 500; 

                @media screen and (max-width: 768px) {
                    font-size: 70px; 
                }

                @media screen and (max-width: 480px) {
                    font-size: 50px; 
                }
            }

            a {
                padding: 15px; 
                color: #fff; 
                text-decoration: none; 
                cursor: pointer; 
                border: 2px solid rgb(0, 173, 230); 
                border-image: linear-gradient(to right, rgb(0, 173, 230) 0%, rgb(210, 224, 252) 100%) 2 / 1 / 0 stretch;
                font-family: "Poppins", sans-serif; 
            }
        }

        .hero-img {
            height: 100%; 

            img {
                width: 100%; 
                height: 100%; 
                object-fit: cover; 
            }
        }

        .arrow {
            width: 100%; 
            position: absolute; 
            bottom: 25px; 
            text-align: center; 

            svg {
                width: 30px; 
                height: 30px; 
            }
        }
    }

    .hero-bottom {
        width: 100%; 
        padding: 40px 24px; 
        background-color: #fff; 
        color: #000; 
        font-weight: 100; 

        .hero-subtitle {
            max-width: 1600px; 
            width: 50%; 
            margin: 0 auto; 
            display: flex; 
            justify-content: center; 
            flex-direction: column; 

            @media screen and (max-width: 768px) {
                width: 75%; 
            }

            @media screen and (max-width: 480px) {
                width: 100%; 
            }

            h2 {
                font-family: "Prata", sans-serif; 
                font-size: 42px; 
                margin-bottom: 25px; 

                @media screen and (max-width: 768px) {
                    font-size: 30px; 
                }
            }

            p {
                font-family: "Yrsa", sans-serif; 
                font-size: 18px; 
                line-height: 32px; 
                margin-bottom: 25px; 

                span {
                    font-style: italic; 
                }
            }
        }
    }
}